.container.p-10
  .flex.flex-col.items-center.justify-center.border.border-primary.rounded-lg.lg:p-10.p-5.w-full.relative
    %div{ class: "text-secondary lg:text-[2rem] text-[1rem] font-lato font-[700] mb-5"} Sign In

    = form_with(url: '#', class: 'lg:space-y-4 space-y-2 lg:w-1/2 w-full') do |f|
      .form-group
        = f.label :email, "Email Address", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :email, class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      
      .form-group
        = f.label :password, "Password", class: 'block lg:text-[1.1rem] text-[0.7rem] font-bold text-secondary mb-1'
        = f.text_field :password, type: "password", class: 'w-full lg:px-3 px-2 lg:py-2 py-1 border border-secondary rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500'
      .lg:mt-2
        = link_to "Forgot Password?", "#", class: "text-secondary font-bold underline lg:text-[1rem] text-[0.7rem]"

      %div{ class: "text-center text-secondary font-bold lg:my-10 my-5 lg:text-[1rem] text-[0.7rem]" }
        Don’t have an account, create your <br class="block lg:hidden" />
        = link_to "free account here", "/signUp", class: "text-secondary font-bold lg:text-[1rem] text-[0.7rem] underline"
      <br>
      .mt-20.flex.justify-center
        = f.submit "Login", class: 'w-[11rem] bg-primary-original border border-secondary text-white lg:py-2 py-1 lg:px-4 px-2 rounded-xl transition duration-200 cursor-pointer lg:text-[1rem] text-[0.7rem]'